<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Name & Info</h1>
  <%= simple_form_for @info do |f| %>
    <%= f.input :name %>
    <%= f.input :information %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>